---
import { type CollectionEntry, getCollection } from 'astro:content';
import ArticleOverview from '../../modules/article-page/ArticleOverview.astro';
import ArticlePage from '../../modules/article-page/ArticlePage.astro';
import PageMeta from '@sandlada/astro-page-meta/PageMeta.astro';
import ArticleImage from '../../modules/article-page/ArticleImage.astro';
import ArticleShareButton from '../../modules/article-page/ArticleShareButton.astro';
import ArticleHeading from '../../modules/article-page/ArticleHeading.astro';
import HeadingNavigator from '../../modules/article-page/HeadingNavigator.astro';
import ArticleFontRadioGroup from '../../modules/article-page/ArticleFontRadioGroup.astro';
import ArticleOutline from '../../modules/article-page/ArticleOutline.astro';
import { render } from 'astro:content';
import RootHTMLLayout from '../../layouts/RootHTMLLayout.astro';
import PageHeader from '../../components/page-header/PageHeader.astro';
import PageFooter from '../../components/page-footer/PageFooter.astro';
import BlogIcon from "../../../public/blog-icon.svg"
import WebsiteCover from "../../../public/website-cover.png"

interface Props extends CollectionEntry<'articles'> {}

export async function getStaticPaths() {
    const posts = await getCollection('articles');
    return posts.map((post) => ({
        params: { id: post.data.id },
        props: post,
    }));
}


const {
    data: {
        category,
        cover,
        hasOverview,
        meta: { author, description, keywords, language, title, createdAt, updatedAt, publishedAt },
        overview,
        order,
        hasCover,
        id,
        status: { isVisible, isDraft, isFeatured },
    },
} = Astro.props;

const getLanguageString = (lang: string) => {
    switch (lang) {
        case 'zh-Hans':
            return 'simplified-chinese';
        case 'zh-Hant':
            return 'traditional-chinese';
        case 'en':
            return 'english';
        default:
            return lang;
    }
}

const { Content, headings } = await render(Astro.props);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
const jsonLd = {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": title,
    "description": description,
    "image": hasCover ? cover.image!.src : WebsiteCover.src,
    "author": {
        "@type": "Person",
        "name": author
    },
    "publisher": {
        "@type": "Organization",
        "name": "Kai Orion's Blog",
    },
    "datePublished": publishedAt.toISOString(),
    "dateModified": updatedAt.toISOString(),
    "keywords": keywords.toString(),
}
---

<RootHTMLLayout autoGenerateTheme={false} lang={getLanguageString(language)}>

    <script slot="before-head" type="application/ld+json" set:html={JSON.stringify(jsonLd)}></script>

    <PageMeta
        slot="head"
        title={`${title} - Kai Orion's Blog`}
        author={author}
        description={description}
        ogType="website"
        url={canonicalUrl.href}
        twitterCard="summary"
        icon={BlogIcon}
        image={hasCover ? cover.image! : WebsiteCover}
        imageAlt={hasCover ? cover.alt! : "A website icon with the word Blog written in the center."}
        keywords={keywords.toString()}
        robots={isVisible ? 'index, follow' : 'noindex, follow'}
        ogType="article"
        ogArticleTag={keywords}
        ogArticleAuthor={author}
        ogArticlePublishedTime={publishedAt.toDateString()}
        ogArticleModifiedTime={updatedAt.toDateString()}
    ></PageMeta>

    <ArticlePage slot="body">
        <PageHeader />

        {cover.image && <ArticleImage src={cover.image} alt={cover.alt} width={1280} height={640} />}
        {hasOverview && <ArticleOverview overview={overview} />}

        <div class="actions">
            <ArticleFontRadioGroup />
            <ArticleShareButton />
        </div>

        <ArticleHeading headings={headings} />

        <!-- Mobile Only -->
        <HeadingNavigator headings={headings} />

        <div class="article">
            <article class="article-content" id="article-wrapper">
                <Content />
            </article>
            <nav class="article-outline">
                <ArticleOutline headings={headings} />
            </nav>
        </div>

        <PageFooter></PageFooter>
    </ArticlePage>
</RootHTMLLayout>

<script type="module" is:inline>
    import { Hct, TonalPalette, sourceColorFromImage } from '@material/material-color-utilities';
import { ContextSymbol } from '@sandlada/document-context';

    const updateTheme = (image) => sourceColorFromImage(image).then((sourceColor) => {
        const sourceColorHct = Hct.fromInt(sourceColor)
        const primaryPalette = TonalPalette.fromHueAndChroma(sourceColorHct.hue + 20 % 360, Math.max(50, sourceColorHct.chroma - 10))
        const secondaryPalette = TonalPalette.fromHueAndChroma(sourceColorHct.hue + 30 % 360, Math.max(50, sourceColorHct.chroma - 20))
        const tertiaryPalette = TonalPalette.fromHueAndChroma(sourceColorHct.hue + 40 % 360, Math.max(50, sourceColorHct.chroma - 30))
        const neutralPalette = TonalPalette.fromHueAndChroma(sourceColorHct.hue, 10)
        const neutralVariantPalette = TonalPalette.fromHueAndChroma(sourceColorHct.hue, 5)
        const errorPalette = TonalPalette.fromHueAndChroma(25, 100)

        const specVersion = document[ContextSymbol].getThemeConfig().specVersion
        const variant = document[ContextSymbol].getThemeConfig().variant
        const contrastLevel = document[ContextSymbol].getThemeConfig().contrastLevel

        const theme = document.MaterialColorService.createTheme({
            sourceColor: sourceColorHct,
            contrastLevel,
            variant,
            specVersion,
            palettes: {
                primaryPalette,
                secondaryPalette,
                tertiaryPalette,
                neutralPalette,
                neutralVariantPalette,
                errorPalette,
            }
        })
        const tokensCSS = document.ThemeController.fromColorsToCSS({ theme, cssStyleMode: 'scheme' });

        const palettes = Object.entries(theme.palettes).map(([key, palette]) => ({
            name: key.replace('Palette', ''),
            palette: document.MaterialPaletteService.createPalette({
                palette,
                tones: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100],
            }),
        }));
        const palettesCSS = document.ThemeController.fromPalettesToCSS(palettes);

        const allCss = (tokensCSS + palettesCSS).replaceAll('--md', '\n    --md').replaceAll('neutralVariant', 'neutral-variant').replaceAll(':root{', '\n:root{').replaceAll('}', '\n}\n');

        document.ThemeController.updateTheme(allCss);
    });

    const image = document.querySelector(`#article-cover-image`);

    if(!image) {
        document.dispatchEvent(new Event('theme:generate'));
    } else {
        if (image.complete) {
            updateTheme(image);
        } else {
            image?.addEventListener('load', () => updateTheme(image));
        }
    }
</script>

<!-- Format Table Elements -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const article = document.querySelector(`#article-wrapper`);
        const tables = document.querySelectorAll(`table`);

        if (!article) {
            return;
        }

        // Wrap table into an div
        tables.forEach((table) => {
            const div = document.createElement('div');
            div.classList.add('table-wrapper');
            article.replaceChild(div, table);
            div.appendChild(table);
        });
    });
</script>

<style>
    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        margin-block: 48px;
    }
</style>

<style is:global>
    @reference "../../styles/global.css";

    .article {
        position: relative;

        @media (min-width: 840px) {
            display: grid;
            grid-template-columns: 1fr minmax(96px, 240px);
        }
    }
    .article-outline {
        position: sticky;
        top: 0;
        @apply label-medium;
        display: none;
        height: fit-content;

        @media (min-width: 840px) {
            display: block;
        }
    }

    .article-content {
        display: flow-root;
        box-sizing: border-box;
        margin-bottom: 32px;

        & > h1:first-of-type + p {
            color: var(--md-sys-color-on-surface-variant);
            font-style: italic;
        }

        h1 {
            @apply emphasized-display-small font-semibold md:emphasized-display-medium md:font-bold lg:emphasized-display-large lg:font-bold;
        }
        h2 {
            @apply emphasized-headline-large md:emphasized-display-small lg:emphasized-display-medium;
        }
        h3 {
            @apply headline-medium md:headline-large lg:display-small;
        }
        h4 {
            @apply title-large;
        }
        h5 {
            @apply title-medium;
        }
        h6 {
            @apply title-small;
        }

        p {
            @apply body-medium lg:body-large;
        }

        blockquote {
            all: unset;
            display: inline-flex;
            width: 100%;
            box-sizing: border-box;
            border-radius: 12px;
            padding-inline: 24px;
            padding-block: 8px;
            @apply bg-surface-container;
        }
        blockquote :is(*) {
            @apply text-on-surface-variant;
        }

        a {
            @apply body-medium lg:body-large;
            color: var(--md-sys-color-primary);
            transition-property: text-underline-offset;
            transition-duration: 150ms;
            text-underline-offset: 2px;

            &:hover {
                text-underline-offset: 4px;
            }
        }

        p ~ :is(h1, h2, h3, h4, h5, h6) {
            margin-block-start: 96px;
        }

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: auto;
        }

        :is(ul, ol) {
            & li {
                @apply body-medium;
                min-height: 24px;
                margin-block-start: 4px;
            }
            & > li:first-child {
                margin-block-start: 16px;
            }
        }

        .table-wrapper {
            border-radius: 24px;
            border: 2px solid var(--md-sys-color-secondary);
            box-sizing: border-box;
            overflow: auto;

            width: 100%;
            @media (min-width: 840px) {
                width: fit-content;
                min-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }

            table {
                width: 100%;
                border: none;
                border-spacing: 0;
                position: relative;

                & thead {
                    & tr {
                        @apply body-large;
                        color: var(--md-sys-color-on-secondary);
                        background: var(--md-sys-color-secondary);
                    }
                }
                & tbody {
                    & tr:nth-child(2n - 1) {
                        color: var(--md-sys-color-on-surface);
                        &::after {
                            content: '';
                            position: absolute;
                            inset: 0;
                            background: var(--md-sys-color-secondary-container);
                            opacity: 0.12;
                            z-index: -1;
                        }
                    }
                    & tr:nth-child(2n) {
                        color: var(--md-sys-color-on-surface);
                        &::after {
                            content: '';
                            position: absolute;
                            inset: 0;
                            background: var(--md-sys-color-primary-container);
                            opacity: 0.12;
                            z-index: -1;
                        }
                    }
                    tr {
                        position: relative;
                        @apply body-large;
                    }
                }

                & :is(th, td) {
                    position: relative;
                    height: 48px;
                    padding-inline: 24px;
                }
            }
        }

        pre.astro-code {
            border-radius: 24px;
            border: 1px solid var(--md-sys-color-outline-variant);
            box-sizing: border-box;
            padding-inline: 24px;
            padding-block: 24px;
        }
        pre.astro-code,
        code {
            white-space: pre-wrap;      /* 保留所有空格與縮排，同時允許自動換行 */
            word-break: break-word;     /* 長單字或長字串必要時強制斷行 */
            overflow-x: auto;
            @apply body-small md:body-medium;
            font-family: 'Jetbrains Mono', 'Noto Sans Mono', 'monospace';
        }
    }
    :root:not([dark]) pre.astro-code .line span {
        color: var(--shiki-light);
    }
    :root[dark] pre.astro-code .line span {
        color: var(--shiki-dark);
    }
</style>
